:root {
    --fontSize: 14pt;
    --fontWeight: normal;
    --foregroundColour:
    --backgroundColour: #bada557F;
    --foregroundColour: navy;
    --borderColour: #bada55;
    --borderMargin: 25px;
    --displayMode: inline-block;
    --fadeInterval: 5s;
}

/* don't show the overlay when printing; only on screen */
@media print {
    .status-text {
        display: none;
    }
}

 @media not print {
    .status-text { 
        position: fixed;
        z-index: 9999;
        border-radius: 10px;
        border-style: solid;
        border-width: medium;
        border-color: var(--borderColour);

        background: var(--backgroundColour);
        color: var(--foregroundColour);
        
        font-size: var(--fontSize);
        font-weight: var(--fontWeight);
        font-family: sans-serif;
        display: var(--displayMode);
        padding: 10px;
    }

    .status-text-position-SW {
        left: var(--borderMargin);
        bottom: var(--borderMargin);
    }
    .status-text-position-NW {
        left: var(--borderMargin);
        top: var(--borderMargin);
    }
    .status-text-position-NE {
        right: var(--borderMargin);
        top: var(--borderMargin);
    }
    .status-text-position-SE {
        right: var(--borderMargin);
        bottom: var(--borderMargin);
    }
    .status-text-position-Centre {
        /* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .animate-fading {
        animation-name: fade-out;
        animation-duration: var(--fadeInterval);
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards; /* keep state of last keyframe */
    }
    
    @keyframes fade-out {
        0%   { opacity: 1; }
        100% { opacity: 0; }
    }

    .reset-opacity {
        opacity: 1;
    }

    .status-text-hidden {
        display: none;
    }

} /* media */