
:root {
    --fontSize: 14pt;
    --fontWeight: normal;
    --foregroundColour:
    --backgroundColour: #bada557F;
    --foregroundColour: navy;
    --borderColour: #bada55;
}

body
{
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 300px;
}

h1
{
    color: navy;
}

.caption
{
    padding-right: 10px;
}

.value {
    vertical-align: text-top;
}

.colour-container {
    display: flex;
    align-items: center;
}

.background-colour-label {
    display: inline;
}

.example-text {
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    font-family: sans-serif;
    display: inline-block;
    padding: 10px;  
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    background: var(--backgroundColour);
    color: var(--foregroundColour);
    border-color: var(--borderColour);
}

.pickr {
    display: inline;
    margin-right: 6px;
}

.dropdownlist {
    width: 100px;
}

.slider {
    width: 40px;
}