:root {
    --fontSize: 14pt;
    --fontWeight: normal;
    --foregroundColour:
    --backgroundColour: #bada557F;
    --foregroundColour: navy;
    --borderColour: #bada55;
}

body
{
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 300px;
}

h1
{
    color: navy;
}

.colour-container {
    display: flex;
    align-items: center;
}

.background-colour-label {
    display: inline;
}

.example-text {
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    font-family: sans-serif;
    display: inline-block;
    padding: 10px;  
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    background: var(--backgroundColour);
    color: var(--foregroundColour);
    border-color: var(--borderColour);
}

.pickr {
    display: inline;
    margin-right: 6px;
}

.dropdownlist {
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.slider {
    width: 40px;
}

.grid-container {
    display: grid;
   
    grid-template-rows: auto;
    grid-template-columns: 125px auto;
  
    grid-template-areas: 
      "caption1 value1" 
      "caption2 value2"
      "caption3 value3"
      "caption4 value3"
      "caption4 value4"
      "caption5 value5"
      "caption6 value6"
      "caption7 value7"
      "caption8 value8"
      "caption9 value9";     
  
    grid-row-gap: 6px;
    grid-column-gap: 6px;
 
    justify-items: start;
    align-items: center;
}

.grid-container > div {
    text-align: center;
    padding-right: 10px;
    vertical-align: text-top;
    font-weight: 600;
  }

.caption1 { grid-area: caption1; }
.value1 { grid-area: value1; }

.caption2 { grid-area: caption2; }
.value2 { grid-area: value2; }

.caption3 { grid-area: caption3; }
.value3 { grid-area: value3; }

.caption4 { grid-area: caption4; }
.value4 { grid-area: value4; }

.caption5 { grid-area: caption5; }
.value5 {  grid-area: value5; }

.caption6 { grid-area: caption6; }
.value6 {  grid-area: value6; }

.caption7 { grid-area: caption7; }
.value7 {  grid-area: value7; }

.caption8 { grid-area: caption8; }
.value8 {  grid-area: value8; }

.caption9 { grid-area: caption9; }
.value9 {  grid-area: value9; }
