body
{
    background-color: #bada55;
    min-width: 400px;
    min-height: 300px;
}

h1
{
    color: navy;
}

.caption
{
    padding-right: 10px;
}

.colour-container {
    display: flex;
    align-items: center;
}

.background-colour-label {
    display: inline;
    font-weight: bold;
}

.pickr {
    display: inline;
    margin-right: 6px;
}
